@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;700&family=Prompt:wght@300;400;700&display=swap');

/* Universal */

body {
    background-image: linear-gradient(#0d1117, #161b22, #0d1117);
    color: #FFAC5E;
    font-family: "Exo 2", sans-serif;
}

h1 {
    font-family: "Prompt", sans-serif;
}

a:hover {
    text-decoration: none;
}

button {
    line-height: normal !important;
}

.prime-btn {
    background-color: #141414;
    border: #FFAC5E 1px solid;
    border-radius: 15px;
    color: white;
    padding: 7.5px 15px;
}

.prime-btn:hover {
    background-color: #FFAC5E;
    color: black;
    border: black 1.5px solid;
}

.flash {
    background-color: #FFAC5E;
    color: #0d1117;
    text-align: center;
    padding: 7.5px;
    font-size: 2em;
    max-width: 400px;
    min-width: 250px;
}

.lower-footer {
    margin-top: 50px;
    margin-bottom: 175px;
}

.lower-portfolio-footer {
    margin-bottom: 175px;
}

.lower-add-footer {
    margin-bottom: 50px;
}

/* Universal */

/* Nav-bar */

#nav-menu {
    z-index: 999;
    background-color: #161b22;
    padding: 15px;
    width: 100% !important;
}

.nav-bar {
    background-color: #161b22;
    height: 125px;
    align-items: center;
    margin-bottom: 5px;
}

.logo {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.nav-title {
    text-align: center;
    color: #FFAC5E;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 2em;
}

.nav-title:hover {
    color: white;
}

.nav-item {
    font-size: 1.5em;
}

.nav-link {
    background-color: #0d1117;
    box-shadow: 1px 1px 1px black;
    color: #FFAC5E;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    padding-left: 10px !important;
}

.nav-link:hover {
    background-color: #FFAC5E;
    color: black;
}

.nav-link:hover .nav-icon {
    color: black;
}

.nav-icon {
    font-size: 1em;
    color: #FFAC5E;
    margin: 5px;
}

.mobile-menu {
    font-size: 2em;
    color: #FFAC5E;
}

/* Nav-bar */

/* Footer */

.footer {
    background-color: #161b22;
    bottom: 0;
    position: relative;
    width: 100%;
    margin-top: 10px;
    padding: 15px;
}

.footer-link {
    display: block;
    font-size: 1.2em;
    padding: 3px;
    margin-top: 3px;
    color: #FFAC5E;
}

/* Footer */

/* Home page */

.crypto-table {
    color: #FFAC5E;
}

.crypto-name {
    color: white;
}

/* Home page */

/* Account pages */

.account-title {
    text-align: center;
}

.account-input {
    margin: 5px;
    padding: 5px;
    width: 100% !important;
    background-color: #141414;
}

.account-button {
    width: 100%;
    margin-top: 5px;
}

/* Account pages */

/* Records page */

.notes-overflow {
    overflow: auto;
}

.record-link {
    background-color: #141414;
    border: #FFAC5E 1px solid;
    border-radius: 10px;
    color: white;
    padding: 7.5px;
    margin-right: 5px;
    font-size: 0.9em !important;
}

.record-link:hover {
    background-color: #FFAC5E;
    color: black;
    border: black 1px solid;
}

/* Records page */

/* Add record page */

.record-section {
    background-color: #161b22;
    padding: 30px;
    border: black 1px solid;
}

.record {
    margin: 5px;
    padding: 5px;
    width: 100%;
    background-color: #141414;
    color: white;
}

.record:hover {
    background-color: #FFAC5E;
    color: black;
    border: black 1.5px solid;
}

/* Add record page */

/* Breakpoints */

@media (min-width: 1025px) {
    .scroll {
        display: none;
    }
}


@media (max-width: 1024px) {
    .table-overflow {
        overflow: auto !important;
    }
    .scroll {
        color: white;
    }
}

@media (max-width: 426px) {
    .logo {
        height: 80px;
        width: 80px;
    }
    .nav-title {
        margin-left: 0px;
    }
    .navbar-brand {
        margin-right: 0px;
    }
    .footer-title {
        font-size: 1.35em;
    }
    .flash {
        font-size: 1.5em;
        display: block;
        align-content: center;
    }
}

@media (max-width: 321px) {
    .logo {
        height: 65px;
        width: 65px;
    }
}

/* Breakpoints */