{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-6 mt-2">
                <h1 class="text-center">Add Record</h1>
            </div>
        </div>

        <div class="row justify-content-center">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link record-tab active" id="buy-tab" data-toggle="tab"
                        href="#buy" role="tab" aria-controls="buy-tab" aria-selected="true">Buy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link record-tab" id="sell-tab" data-toggle="tab"
                        href="#sell" role="tab" aria-controls="sell-tab" aria-selected="false">Sell</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link record-tab" id="staking-tab" data-toggle="tab"
                        href="#staking" role="tab" aria-controls="staking-tab" aria-selected="false">Staking</a>
                </li>
            </ul>
        </div>

        <div class="tab-content" id="pills-tabContent">

            <!-- Buy record -->

            <div class="tab-pane fade show active" id="buy" role="tabpanel" aria-labelledby="buy-tab">
                <form action="{{ url_for('add_record') }}" method="POST">
                    <div class="row justify-content-center">
                        <div class="col-11 col-md-7 col-xl-4 record-section">
                            <div class="row justify-content-center">
                                <div>
                                    <p class="text-center">To make a record of a buy order select the correct coin / token and 
                                        enter the quantity, price per token and date of the transaction
                                    </p>
                                    <!-- This might need to be updated -->
                                </div>
                            </div>
        
                            <div class="row justify-content-center">
                                <div class="form-group">
                                    <select class="form-control record" name="token_data" id="token_data">
                                    {% for token in results %}
                                        <!-- <option value="{{ token.name }}" data-token="{{ token.id }}">{{ token.name }}</option> -->
                                        <option value='{"token_id": "{{ token.name }}", "token": "{{ token.id }}"}'>{{ token.name }}</option>
                                    {% endfor %}
                                        <!-- Subject to change possibly -->
                                    </select>
                                </div>
                            </div>

                            <input type="text" placeholder="Quantity" class="record" id="quantity" name="quantity" required>

                            <input type="text" placeholder="Price Per Coin" class="record" id="per_coin" name="per_coin" required>

                            <input type="date" class="record" id="date" name="date" placeholder="Date" required>

                            <input type="text" class="record" id="notes" name="notes" placeholder="Notes">
            
                            <input type="hidden" id="total" name="total">
                            <!-- <input type="text" class="record" placeholder="0.00" id="total" name="total" readonly> -->
                            <!-- If you have time user javascript to display the total cost here -->
                            <a href="{{ url_for('portfolio') }}" class="prime-btn mt-2 mr-2">Go back</a>
                            <button type="submit" name="record_type" value="Buy" class="prime-btn mt-2">Add record</button>
        
                        </div>
                    </div>

                </form>
            </div>
            <!-- Buy record -->

            <!-- Sell record -->

            <div class="tab-pane fade" id="sell" role="tabpanel" aria-labelledby="sell-tab">
                <form action="{{ url_for('add_record') }}" method="POST">
                    <div class="row justify-content-center">
                        <div class="col-11 col-md-7 col-xl-4 record-section">
                            <div class="row justify-content-center">
                                <div>
                                    <p class="text-center">To make a record of your Sell orders select the coin / token and 
                                        enter the quantity, price per token and date of the transaction
                                    </p>
                                </div>
                            </div>

                            <div class="row justify-content-center">
                                <div class="form-group">
                                    <select class="form-control record" name="token_data" id="token_data">
                                    {% for token in results %}
                                        <!-- <option value="{{ token.name }}" data-token="{{ token.id }}">{{ token.name }}</option> -->
                                        <option value='{"token_id": "{{ token.name }}", "token": "{{ token.id }}"}'>{{ token.name }}</option>
                                    {% endfor %}
                                        <!-- Subject to change possibly -->
                                    </select>
                                </div>
                            </div>

                            <h3 class="text-center">Bitcoin</h3>

                            <input type="text" placeholder="Quantity" class="record" id="quantity" name="quantity" required>
                
                            <input type="text" placeholder="Price Per Coin" class="record" id="per_coin" name="per_coin" required>
                
                            <input type="date" class="record" id="date" name="date" placeholder="Date" required>
                
                            <input type="text" class="record" id="notes" name="notes" placeholder="Notes">
                
                            <input type="hidden" id="total" name="total">
                            <!-- <input type="text" class="record" placeholder="0.00" id="total" name="total" readonly> -->
                            <!-- If you have time user javascript to display the total cost here -->
                            <a href="{{ url_for('portfolio') }}" class="prime-btn mt-2 mr-2">Go back</a>
                            <button type="submit" class="prime-btn mt-2" name="record_type" value="Sell">Add record</button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Sell record -->

            <!-- Staking record -->

            <div class="tab-pane fade" id="staking" role="tabpanel" aria-labelledby="staking-tab">
                <form action="{{ url_for('add_record') }}" method="POST">
                    <div class="row justify-content-center">
                        <div class="col-11 col-md-7 col-xl-4 record-section">
                            <div class="row justify-content-center">
                                <div>
                                    <p class="text-center">
                                        To make a record of your Staking rewards enter the coin / token, quantity and date. 
                                        Earn passive income on your crypto
                                    </p>
                                </div>
                            </div>

                            <div class="row justify-content-center">
                                <div class="form-group">
                                    <select class="form-control record" name="token_data" id="token_data">
                                    {% for token in results %}
                                        <!-- <option value="{{ token.name }}" data-token="{{ token.id }}">{{ token.name }}</option> -->
                                        <option value='{"token_id": "{{ token.name }}", "token": "{{ token.id }}"}'>{{ token.name }}</option>
                                    {% endfor %}
                                        <!-- Subject to change possibly -->
                                    </select>
                                </div>
                            </div>

                            <h3 class="text-center">Bitcoin</h3>

                            <input type="text" placeholder="Quantity" class="record" id="quantity" name="quantity" required>

                            <input type="hidden" placeholder="Price Per Coin" class="record" id="per_coin" name="per_coin" value="0">
            
                            <input type="date" class="record" id="date" name="date" placeholder="Date" required>
            
                            <input type="text" class="record" id="notes" name="notes" placeholder="Notes">
            
                            <input type="hidden" id="total" name="total" value="0">

                            <a href="{{ url_for('portfolio') }}" class="prime-btn mt-2 mr-2">Go back</a>
                            <button type="submit" name="record_type" value="Staking" class="prime-btn mt-2">Add record</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Staking record -->
        </div>
        <!-- https://getbootstrap.com/docs/4.5/components/navs/#tab TabPills -->

    </div>

{% endblock %}