{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-11 col-md-7 col-xl-4 record-section lower-footer">
                <h1 class="text-center">Edit Records</h1>
                <p class="text-center">If you have made a mistake recording your transaction change to correct details here</p>

                <form method="POST" action="{{ url_for('edit_record', record_id=record._id) }}">

                    <input type="text" placeholder="Quantity" class="record" id="edit_quantity" name="edit_quantity">
                    <input type="text" placeholder="Price Per Coin" class="record" id="edit_per_coin" name="edit_per_coin">
                    <input type="date" placeholder="Date" class="record" id="edit_date" name="edit_date">
                    <input type="text" placeholder="Notes" class="record" id="edit_notes" name="edit_notes">
                    <input type="hidden" id="edit_total" name="edit_total">

                    <a href="{{ url_for('portfolio') }}" class="prime-btn mt-2 mr-2">Go back</a>
                    <button class="prime-btn mt-2" type="submit">Edit record</button>
                    <!-- Edit record form -->
                </form>
            </div>
        </div>
    </div>

{% endblock %}