{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-xl-9 crypto-table">
                <h1>CoinVue</h1>
                <h3>Displaying the latest top 100 crypto data</h3>
                <p>CoinVue is a cryptocurrency tracking platform with the latest data on the top 50 coins price movements. 
                    As well as a tool for tracking porfolios performance with a chart showing the historical value, 
                    invested cost and diffrence of the users assets. Buy, sell and staking rewards can be recorded to
                    the portfolio updating the chart and its total value.
                </p>

                <div class="table-overflow">
                    <table class="table table-striped">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col"><strong>Crypto Name</strong></th>
                                <th scope="col">Symbol</th>
                                <th scope="col">Price</th>
                                <th scope="col">24h%</th>
                                <th scope="col">Market Cap</th>
                                <th scope="col">Volume (24h)</th>
                                <!-- <th scope="col">Action</th> -->
                            </tr>
                        </thead>

                        <tbody class="crypto-table">
                            {% for result in results %}
                                <tr>
                                    <td><strong class="crypto-name">{{ result.name }}</strong></td>
                                    <td>{{ result.symbol }}</td>
                                    <td id="crypto-price">{{ result.priceUsd }}</td>
                                    <td id="crypto-percent">{{ result.changePercent24Hr }}</td>
                                    <td id="crypto-mcap">{{ result.marketCapUsd }}</td>
                                    <td id="crypto-volume">{{ result.volumeUsd24Hr }}</td>
                                    <!-- <td id="crypto-volume"><a href="">+</a></td> -->
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}