{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-xl-9 crypto-table">
                <h1>CoinVue</h1>
                <h3>Displaying the latest top 50 crypto data</h3>
                <p>CoinVue is a cryptocurrency tracking platform with the latest data on the top 50 coins price movements. 
                    As well as a tool for tracking porfolios performance with a chart showing the historical value, 
                    invested cost and diffrence of the users assets. Buy, sell and staking rewards can be recorded to
                    the portfolio updating the chart and its total value.
                </p>
                {% if session.user %}
                {% else %}
                    <p class="text-center">Don't have an account? <a href="{{ url_for('signup') }}">Sign up here</a></p>
                {% endif %}

                <p class="scroll text-center">Drag the crypto table for more information</p>

                <div class="table-overflow">
                    <table class="table table-striped">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col"><strong>Crypto Name</strong></th>
                                <th scope="col">Symbol</th>
                                <th scope="col">Price</th>
                                <th scope="col">24h%</th>
                                <th scope="col">Market Cap</th>
                                <th scope="col">Volume (24h)</th>
                                <th scope="col">Action</th>
                                <!-- This could be important -->
                            </tr>
                        </thead>

                        <tbody class="crypto-table">
                                {% for result in results %}
                                <!-- <tr class="token"> -->
                                <tr>
                                    <td><strong class="crypto-name">{{ result.name }}</strong></td>
                                    <td>{{ result.symbol }}</td>
                                    <td>{{ result.priceUsd }}</td>
                                    <td>{{ result.changePercent24Hr }}</td>
                                    <td>{{ result.marketCapUsd }}</td>
                                    <td>{{ result.volumeUsd24Hr }}</td>
                                    {% if session.user %}
                                        {% if username is not none %}
                                            <td><a href="{{ url_for('add_record') }}" class="record-link"><i class="fas fa-plus"></i></a></td>
                                        {% endif %}
                                    {% else %}
                                        <td><a href="{{ url_for('login') }}" class="record-link"><i class="fas fa-plus"></i></a></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}