{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-10 col-md-11 col-xl-9">
                <h2>{{ username.capitalize() }}'s Portfolio</h2>
                <h3>$total_value</h3>
                <a href="{{ url_for('add_record') }}" class="prime-btn">Add new +</a>
                <a href="{{ url_for('get_records', username=username) }}" class="prime-btn ml-2">Records</a>
            </div>
        </div>
    </div>

    <br>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-11 col-xl-9">
                <div class="table-overflow">
                    <table class="table table-striped">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">24h %</th>
                                <th scope="col">Holdings</th>
                                <th scope="col">Value</th>
                                <th scope="col">Profit/Loss</th>
                                <th scope="col">View records</th>
                            </tr>
                        </thead>

                        <tbody class="crypto-table">
                            {% for i in portfolios %}
                                {% set portfolio = portfolios[loop.index-1] %}
                                {% set token = token_id[loop.index-1] %}
                                    <tr>
                                        <td class="crypto-name">{{ portfolio.token_id }}</td>
                                        <td>${{ token.price }}</td>
                                        <td>{{ token.day_percent }}%</td>
                                        <td>{{ portfolio.holdings }}</td>
                                        <td>${{ portfolio.value }}</td>
                                        <td>${{ portfolio.profit_loss }}</td>
                                        <td><a href="{{ url_for('get_records', username=username) }}" class="record-link"><i class="fas fa-eye"></i></a></td>
                                    </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <p class="scroll text-center">Drag the portfolio table for more information</p>
            </div>
        </div>
    </div>

{% endblock %}