{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-10 col-md-11 col-xl-9">
                <h2>{{ username.capitalize() }}'s Portfolio</h2>
                <h3>$total_value</h3>
                <a href="{{ url_for('add_record') }}" class="prime-btn">Add new +</a>
                <!-- DELETE LATER -->
                <a href="{{ url_for('get_records', username=username) }}" class="prime-btn ml-2">Records</a>
                <!-- DELETE LATER -->
            </div>
        </div>
    </div>

    <br>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-11 col-xl-9">
                <div class="table-overflow">
                    <table class="table table-striped">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">24h %</th>
                                <th scope="col">Holdings</th>
                                <th scope="col">Value</th>
                                <th scope="col">Profit/Loss</th>
                                <th scope="col">View records</th>
                            </tr>
                        </thead>

                        <tbody class="crypto-table">
                            {% for portfolio in portfolios %}
                                <tr>
                                    <td class="crypto-name">{{ portfolio.token_id }}</td>
                                    <td>$35000</td>
                                    <td>3.5%</td>
                                    <td>{{ portfolio.holdings }}</td>
                                    <td>${{ portfolio.value }}</td>
                                    <td>${{ portfolio.profit_loss }}</td>
                                    <td><a href="{{ url_for('get_records', username=username) }}">:</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}