{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-md-11 col-xl-8">
                <h1 class="text-center">Records</h1>
                <p class="scroll text-center">Drag the records table for more information</p>
                <div class="table-overflow">
                    <table class="table table-striped">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Type</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Cost per coin</th>
                                <th scope="col">Date</th>
                                <th scope="col">Notes</th>
                                <th scope="col">Total</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
    
                        <tbody class="crypto-table">
                            {% for record in user_records %}
                                <tr>
                                    <td class="crypto-name">{{ record.token_id }}</td>
                                    <td>{{ record.record_type }}</td>
                                    <td>{{ record.quantity }}</td>
                                    <td>${{ record.per_coin }}</td>
                                    <td>{{ record.date }}</td>
                                    <td class="notes-overflow">{{ record.notes }}</td>
                                    <td>${{ record.total }}</td>
                                    <td>
                                        <!-- Need some sort of ID for record -->
                                        <form method="POST" action="{{ url_for('delete_record', record_id=record._id) }}">
                                            <a href="{{ url_for('edit_record', record_id=record._id) }}" class="record-link"><i class="fas fa-pen"></i></a>
                                            <button type="submit" class="record-link"><i class="fas fa-trash"></i></button>
                                        </form>
                                        <!-- Delete record -->
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <a href="{{ url_for('add_record') }}" class="prime-btn">Add new +</a>
            </div>
        </div>
    </div>

{% endblock %}