{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-6">
                <h1>Sign up</h1>
                <form action="{{ url_for('signup') }}" method="POST">
                    <input type="text" placeholder="Username" class="" id="username" name="username" pattern="^[a-zA-Z0-9]{5,15}$" minlength="4" maxlength="15" required>
                    <br>
                    <input type="email" placeholder="Email" class="" id="email" name="email" required>
                    <br>
                    <input type="email" placeholder="Confirm email" class="" id="confirm-email" name="confirm-email" required>
                    <br>
                    <input type="password" placeholder="Password" class="" id="password" name="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                    <br>
                    <input type="password" placeholder="Confirm password" class="" id="confirm-password" name="confirm-password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                    <br>
                    <button type="submit" class="user-button">Click here to sign up</button>
                    <!-- Already have an account -->
                </form>
            </div>
        </div>
    </div>

{% endblock %}